.userMenu {
  display: flex;
  padding: 14px 16px;
  width: 100%;
}
.user {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}
.user > h1 {
  font-size: 20px;
  color: #f4f9ff;
  margin-right: 10px;
  margin-bottom: 0px;
}
