.form {
  display: flex;
  flex-direction: column;
  border: 5px solid #ececec;
  border-radius: 5px;
  padding: 20px;
}

.addContactBtn {
  margin-top: 20px;
  width: 70%;
  margin-left: 15%;
}

label:not(:first-child) {
  margin-top: 10px;
}
